body {
  padding-top: 50px;
}
.questiontable, .sidebar{
  padding: 40px 15px;
  text-align: center;
}

.sidebar{
	
float:right;
}

.alert {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}